<div id="mainWrapper">
  <main id="mainPage">
    <ng-container *ngIf="pageNumber === 1">
      <front-feature [randomYear]="randomYear"></front-feature>
      <mid-feature [randomYear]="randomYear"></mid-feature>
    </ng-container>
    <div id="post-excerpt-wrapper">
      <ng-container *ngFor="let excerpt of postExcerpts.slice(startIndex, endIndex)">
        <div (click)="getPost(excerpt)">
          <post-excerpt [postExcerpt]="excerpt"></post-excerpt>
        </div>
      </ng-container>
    </div>
    
    <div class="ad-section">
      <!-- Add explicit ad label for transparency and SEO -->
      <div aria-label="Affiliate Link" class="ad-label">Affiliate</div>
      <div class="ad_block_250x250" style="max-width: 350px; max-height: 250px;">
        <a href="https://solpot.com/r/pmbzxpyssk">
          <img style="width: 100%; height: 100%; max-height: 125px;" src="assets/stream_panel2.png" alt="Solpot - Affiliate Link" />
        </a>
      </div>
    </div>
    <pagination [(pageNumber)]="pageNumber"></pagination>
  </main>
  
  <aside id="mainSidebar">
    <info-sidebar [randomYear]="randomYear"></info-sidebar>
  </aside>
</div>


