#main-wrapper{
  div{
    p{
      font-size: 0.8em;
    }
  }

  .inner{
    background-color: snow;

    div{
      margin-bottom: 20px;
      padding: 10px
    }

    p{
      font-size: 0.8em;
    }
  }
}