/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100%;
}

.yesterYearFont {
  font-family: 'Yesteryear', cursive;
}

.youtube-video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

app-youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

app-youtube-player div#player {
  width: 100% !important;
  height: 100% !important;
}

