/* Styles for the card container */
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for individual cards */
.cust_card {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  background-color: black;
  color: white;
}

/* Styles for images within the cards */
.cust_card img {
   max-width: 100%;
   height: 190px;
   object-fit: cover;
   transform: scale(0.95);
   transition: all 0.25s ease-in;

   &:hover{
    transform: scale(1);

   }
}

.card_button_holder{
  height: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
 }

 .cust__button {
   text-transform: uppercase;
   padding: 0.25em;
   border: 0;
   font-size: 0.75rem;
   text-decoration: none;
   background-color: #1b2435;
   color: #fff;
   transition: background-color 250ms ease;
   min-width: 100px;
   height: inherit;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;

   &:hover{
    filter: invert(1);
   }
 }

.is-flipped{
  transform: translateX(-100%) rotateY(-180deg);
}

.loading-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 190px;
}

 //spinner styles
 .loading {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}