.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.pagination div {
  display: inline-block;
  padding: 2px 15px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.page-numbers{
  display: flex;
}

.page-numbers > div{
  border: 1px solid #ccc;
  font-size: 1.75em;
}

.pagination div.active {
  background-color: #333;
  color: #fff;
}

.pagination div.prev,
.pagination div.next {
  display: inline-block;
  font-size: 1.75em;
  border: 1px solid #ccc;
}


@media screen and (max-width: 675px){
  .pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;

    .page-numbers {
      display: none; /* Hide page numbers on mobile */
    }
  }
  
  .page-btn-chevron{
    width: 100%;
  }
   
  .pagination div.prev,
  .pagination div.next {
    display: inline-block;
  }

}