@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tektur:wght@700&family=Work+Sans&display=swap');

#mainWrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0px 20px;

  #mainHome{
    flex: 2;
    margin-right: 20px;

    #midFeature{
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      
      .hist-box{
        flex: 1;
        margin: 0px 5px;

        .hist-box-header{
          text-align: center;
          background-color: #212223;
          font-family: Tektur, sans-serif;
          text-shadow: 2px 2px #000;
          color: white;
        }
      }
    }
  }

  #mainSidebar{
    flex: 1;
  }
}


@media screen and (max-width: 875px) {
  #mainWrapper{

    #mainHome{
      flex: none;
      width: 100%;
    }

    #mainSidebar{
      flex: none;
      width: 100%;
    }
  }  
}

@media (min-width: 275px) and (max-width: 575px) {
  #mainWrapper{ 
    #mainHome {
      #midFeature{
        display: block;
      }
    }
  }
}

.movie-wrapper{
  width: 100%;
  height: 90%;
  display: flex;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  object-fit: contain;
}