<div id="mainWrapper">
  <main id="mainHome">
    <div id="frontFeatureWrapper">
      <header class="lookback p-2">
        <h4>{{todayDateAndMonth}}, <span class="random_year_info">a snapshot in time</span></h4>      
      </header>
      <section class="feature_section">
        <div class="front_card_wrapper">
          <div class="cust__card me-2">
            <div class="card__img-wrapper">
              <div style="height: 100%;" class="w-100">
                <img class="card__img" src="https://dims.apnews.com/dims4/default/27fcf74/2147483647/strip/true/crop/2192x1624+0+0/resize/599x444!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F64%2Fde%2F08e7c48f426f68098137900e4b59%2F12d2372949ba4ec594579c2bb761ee12" alt="">
              </div>
            </div>
            <div class="card__content">
              <h3>Britney Spears</h3>
            </div>
            <div class="w-100"><a href="#" class="cust__button">Celebrities Born Today</a></div>
          </div>
          <div class="cust__card me-2">
            <div class="card__img-wrapper">
              <div style="height: 100%;" class="w-100">
                <img class="card__img" src="https://airandspace.si.edu/sites/default/files/styles/callout_half/public/images/editoral-stories/thumbnails/11878h.jpg" alt="">
              </div>
            </div>
            <div class="card__content">
              <h3>Challenger Explosion</h3>
            </div>
            <div class="w-100"><a href="#" class="cust__button">This day in history</a></div>
          </div>
          <div class="inflation_wrapper">
            <div class="inflation">
              <h5 class="text-center">1945 Prices</h5>
              <div class="table-responsive">
                <table class="table table-striped table-sm border-success">
                  <tbody>
                    <tr>
                      <th scope="row">🎟️</th>
                      <td>Movie Ticket</td>
                      <td>$0.25</td>
                    </tr>
                    <tr>
                      <th scope="row">⛽</th>
                      <td>Gas</td>
                      <td>$0.18</td>
                    </tr>
                    <tr>
                      <th scope="row">🍞</th>
                      <td>Bread</td>
                      <td>$0.10</td>
                    </tr>
                    <tr>
                      <th scope="row">🚗</th>
                      <td>Car</td>
                      <td>$800</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <aside id="mainSidebar">
    <h2>MY SIDEBAR</h2>
  </aside>
</div>
