<div id="mainWrapper">
  <main id="mainHome">
    <front-feature [randomYear]="randomYear"></front-feature>
    <div id="midFeature">
      <div class="hist-box">
        <h6 class="hist-box-header">Pro Sport Championships in {{randomYear}}</h6>
        <tv-effect-component [randomYear]="randomYear"></tv-effect-component>
      </div>
      
      <div class="hist-box">
        <h6 class="hist-box-header">Top Movie in {{randomYear}}</h6>
        <div class="movie-wrapper">
          
        </div>
      </div>
    </div>
  </main>

  <aside id="mainSidebar">
    <info-sidebar [randomYear]="randomYear"></info-sidebar>
  </aside>
</div>
