<div id="midFeature">
  <div class="hist-box">
    <h5 class="hist-box-header">Sports Championships of {{randomYear}}</h5>
    <tv-effect-component [randomYear]="randomYear"></tv-effect-component>
  </div>
  
  <div class="hist-box">
    <h5 class="hist-box-header">Top Movie in {{randomYear}}</h5>
    <div class="movie-wrapper">
      <div class="video-overlay-container" [style.display]="showVideo ? 'none' : 'flex'" (click)="loadVideo()">
        <img class="overlay-thumbnail" [src]="youTubeImg" alt="Video Thumbnail">
        <h5 class="movie-title">{{movieTitle}}</h5>
        <div class="play-button"><div class="play"></div></div>
      </div>

      <div class="video-container" *ngIf="showVideo">
        <div #videoIframe>
          <iframe [src]="youTubeURL | safeResourceUrl" allow="autoplay; encrypted-media" width="640" height="480" frameborder="0">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
