<div id="main-wrapper">
  <div id="affiliate" class="inner">
    <div>
      <h1>Affiliate Disclaimer:</h1>
      <p>{{websiteName}} is a participant in various affiliate marketing programs, which means we may get paid commissions on editorially chosen products purchased through our links to retailer sites.</p>
  
      <p>
        Our editorial content is not influenced by advertisers or affiliate partnerships. We only recommend products and services we genuinely believe will add value to our readers.
      </p>
  
      <p>
        It is important to note that {{websiteName}} is a participant in the {{ affiliates.join(', ') }} affiliate program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to {{ affiliates.join(', ') }}.
      </p>
  
      <p>As an Amazon Associate, we earn from qualifying purchases.</p>
  
      <h3>How Affiliate Links Work:</h3>
  
      <p>
        When you click on an affiliate link and make a purchase, the affiliate company pays {{websiteName}} a small commission or other compensation. This does not affect the price you pay for the product.
      </p>
  
    </div>
  
    <div>
      <h3>Affiliate Relationship Disclosure:</h3>
  
      <p> Please assume that any link on {{websiteName}} is an affiliate link, and we may earn a commission if you make a purchase through these links. We strive to make sure all affiliate links are clearly marked as such, and we aim to only promote reputable products and services.
      </p>
    </div>
  
    <div>
      <h3>Your Support Helps:</h3>
  
      <p>By using our affiliate links, you are helping support the {{websiteName}} website, and we genuinely appreciate your support.</p>
  
      <p>If you have any questions regarding the above, please do not hesitate to contact us.</p>
  
      <p>Thank you for being a valued reader of {{websiteName}}.</p>
    </div>

  </div>

  <hr />

  <div id="terms" class="inner">
    <div>
      <h1>Terms and Conditions:</h1>
      <p>Welcome to {{websiteName}}!</p>
      <p>By accessing and using this website, you agree to the following terms and conditions. Please read them carefully.</p>
    </div>

    <div>
      <h3>Accuracy of Information:</h3>
      <p>
      While we strive to provide accurate and up-to-date information, {{websiteName}} makes no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
      </p>
    </div>

    <div>
      <h3>Entertainment Purposes Only:</h3>
      <p>The content on {{websiteName}}, including but not limited to rankings, reviews, and other information, is provided for entertainment purposes only. We make no guarantees or representations about the accuracy, reliability, or completeness of the content. All information is subject to change without notice.</p>
    </div>

    <div>
      <h3>No Personal Information Collected:</h3>
      <p>{{websiteName}} does not collect any personal information from its users. We respect your privacy, and you can enjoy our content without the need for user accounts or login information.</p>
    </div>

    <div>
      <h3>External Links:</h3>
      <p>Our website may contain links to external websites that are not provided or maintained by us. We do not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>
    </div>

    <div>
      <h3>Changes to Terms and Conditions:</h3>
      <p> {{websiteName}} may revise these terms and conditions at any time without notice. By using this website, you agree to be bound by the current version of these terms and conditions.
      </p>
    </div>
  </div>

  <div id="contact" class="inner">
    <h3>Contact Information:</h3>
    <p>If you have any questions or concerns about these terms and conditions, please contact us at {{contactEmail}}.</p>

    <p>Thank you for visiting {{websiteName}} and enjoy your time exploring the world of celebrities and nostalgia!</p>
  </div>
</div>