.app-custom-container{
  max-width: 1200px; 
  width: 100%; 
  margin: 0 auto;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper covers at least the full viewport height */
}

.app-content {
  flex-grow: 1; /* Allow the content to grow and push the footer to the bottom */
}