<div id="frontFeatureWrapper">
  <header class="lookback p-2">
    <h4>{{dateObj.monthName + ' ' + dateObj.day}}, <span class="random_year_info">a snapshot in time</span></h4>      
  </header>
  <section class="feature_section">
    <div class="front_card_wrapper">
      <div>
        <front-feature-card 
          [cardImg]="celebImg"
          [cardButtonText]="'Celebrities Born Today'"
          [loading]="loading"
          [routePath]="'/celebrity'"
          (featureBtnClickEvent)="whichChildBtnWasClicked($event)"
        ></front-feature-card>
      </div>

      <div>
        <front-feature-card 
          [cardImg]="histEvtImg"
          [cardButtonText]="'This Day In History'"
          [loading]="loading"
          [routePath]="'/day-in-history'"
        ></front-feature-card>
      </div>

      <div>
        <front-feature-card 
          [cardImg]="presidentPortrait"
          [cardButtonText]="'President ' + dateObj.monthName + ' ' + dateObj.day + ' ' + dateObj.year"
          [loading]="loading"
          [routePath]="'/president/' + selectedPresidentNameSlugged"
        ></front-feature-card>
      </div>
    </div>
  </section>
</div>
