<div id="frontFeatureWrapper">
  <header class="lookback p-2">
    <h4>{{todayDateAndMonth}}, <span class="random_year_info">a snapshot in time</span></h4>      
  </header>
  <section class="feature_section">
    <div class="front_card_wrapper">

      <div>
        <front-feature-card 
          [cardTitle]="celebName" 
          [cardImg]="celebImg"
          [cardButtonText]="'Celebrities Born Today'"
        ></front-feature-card>
      </div>

      <div>
        <front-feature-card 
          [cardTitle]="'Happened this day'" 
          [cardImg]="histEvtImg"
          [cardButtonText]="'This Day In History'"
        ></front-feature-card>
      </div>

      <div>
        <front-feature-card 
          [cardTitle]="'President'" 
          [cardImg]="presidentPortrait"
          [cardButtonText]="'President ' + presidentDateStr"
          [loading]="presidentLoading"
        ></front-feature-card>
      </div>
    </div>
  </section>
</div>
