<header>
  <div class="inner-header-div">
    <div class="logo-wrapper"><h1 class="logo"><a routerLink=''>Logo</a></h1></div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
  
    <nav>
      <ul class="main-menu-ul">
        <li class="cust-nav-item active">
          <a routerLink='/birthday'>🎉Your Birthday</a>
        </li>
        <li class="cust-nav-item">
          <a href="#">🎵Top Songs Every Year</a>
        </li>
        <li class="cust-nav-item">
          <a href="#">📼Top Movies Every Year</a>
        </li>
        <li class="cust-nav-item">
          <a routerLink="/celebrity">👱‍♀️Celebrity Birthdays</a>
        </li>
        <li class="cust-nav-item">
          <a routerLink="/day-in-history">🏛️This Day in History</a>
        </li>
        <li class="cust-nav-item">
          <a href="#">📈Trending</a>
        </li>
      </ul>
    </nav>
  </div>

  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>