<div id="midFeature">
  <div class="hist-box">
    <h6 class="hist-box-header">Pro Sport Championships in {{randomYear}}</h6>
    <tv-effect-component [randomYear]="randomYear"></tv-effect-component>
  </div>
  
  <div class="hist-box">
    <h6 class="hist-box-header">Top Movie in {{randomYear}}</h6>
    <div class="movie-wrapper">
      <div class="video-container">
        <iframe [src]="youTubeURL | safeResourceUrl" allow="autoplay; encrypted-media" width="640" height="480" frameborder="0">
        </iframe>
      </div>
    </div>
  </div>
</div>
