<div id="sidebarDivWrapper">
  <header>
    <h1>Songs that topped the charts in {{randomYear}}</h1>
  </header>
  <div  id="song-list-wrapper">
    
      <div *ngFor="let song of songsByYearArr; let i = index" class="song-wrapper">
        <div class="song-div-left">
          <a href="#"><img [src]="song?.youtubeThumb" /></a>
        </div>
        <div class="song-div-right">
         <p class="song-title m-0"> {{song.songTitle}}</p>
         <p class="song-singer m-0"> {{song.artist}} </p>
         <div><span>{{song?.days}} days at #1</span></div>
        </div>
      </div>
    
  </div>
  
  <div class="toy-card">
    <h1 class="card-toy-year">Most Popular Toy in {{displayToy.year}}</h1>
    <div class="toy-card-img">
      <img [src]="displayToy.image">
      <p class="text-center"><span>Image Source: </span><cite><a [href]="displayToy.image_source_url" target="_blank" rel="noopener noreferrer">{{displayToy.image_source}}</a></cite></p>
    </div>
    <div class="toy-card-content">
      <h1 class="toy-card-h1">{{displayToy.toy}}</h1>
        <p>{{displayToy.description.substring(0, 120)}}...</p>
    </div>
  </div>

  <div class="quote-section">
    <h3>Famous Quote</h3>
    <div class="card card-quote">
      <div class="card-body">
        <blockquote class="blockquote">
        <p class="lead">{{famousQuote.quoteText}}</p>
        <footer class="blockquote-footer">{{famousQuote.quoteAuthor}}</footer>
      </blockquote>
      </div>
    </div>
  </div>
</div>
