<div id="mainWrapper">
  <main id="mainPage">
    <ng-container *ngIf="pageNumber === 1">
      <front-feature [randomYear]="randomYear"></front-feature>
      <mid-feature [randomYear]="randomYear"></mid-feature>
    </ng-container>
    <post-excerpt-container [pageNumber]="pageNumber" [postsPerPage]="pageNumber === 1 ? 5 : 8"></post-excerpt-container>
    <div class="ad-section">
      <svg width="100%" height="100" xmlns="http://www.w3.org/2000/svg">
        <rect width="100%" height="100%" fill="lightgray" />
        <text x="50%" y="50%" text-anchor="middle" fill="black" font-size="36" font-family="Arial" dy=".3em">Ad</text>
      </svg>    
    </div>
    <pagination [(pageNumber)]="pageNumber"></pagination>
  </main>
  
  <aside id="mainSidebar">
    <info-sidebar [randomYear]="randomYear"></info-sidebar>
  </aside>
</div>


