<div class="birthday-container">
  <h1 id="birthdayHeadline">Find Your Birthday Song And More</h1>
  <div id="birthdayTop">
    <div class="dropdown-container">
      <div class="dropdown">
        <label for="month">Month:</label>
        <select id="month" class="custom-select" [(ngModel)]="selectedMonth" (change)="getMonth()">
          <option *ngFor="let month of monthNames" [value]="month">{{month}}</option>
        </select>
      </div>
      <div class="dropdown">
        <label for="day">Day:</label>
        <select id="day" class="custom-select" [(ngModel)]="selectedDay">
          <option *ngFor="let day of days" [value]="day">{{day}}</option>
        </select>
      </div>
      <div class="dropdown">
        <label for="year">Year:</label>
        <select id="year" class="custom-select" [(ngModel)]="selectedYear" (change)="updateDaySelectionIfLeapYear()">
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>
    <div class="birthday-button-div"><button class="find-button" (click)="getBirthDateInfo()">#1 Song and More</button></div>
  </div>
</div>

<section class="section middle-section">
  <div class="mid-div middle-section-left">
    <div class="card-wrapper">
      <div class="blog-card">
        <div class="card-details">
          <h4>#1 Song {{birthdayDateStr}} was</h4>
          <h1>{{birthDaySong.songTitle}}</h1>
          <p>By: {{birthDaySong.artist}}</p>
        </div>
        <div *ngIf="showMedia; else noMedia" class="video-wrapper">
          <iframe [src]="youTubeSongURL | safeResourceUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <ng-template #noMedia>
          <div class="img-fluid default-img-div">
            <img src="../../../assets/questionMarkBox.png" />
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="mid-div middle-section-right">
    <div class="card-wrapper">
      <div class="blog-card">
        <div class="card-details">
          <h4>#1 Movie {{birthdayDateStr}} was</h4>
          <h1>{{birthDayMovie.movieTitle}}</h1>
        </div>
        <div *ngIf="showMedia; else noMedia" class="video-wrapper">
          <iframe [src]="youTubeMovieURL  | safeResourceUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <ng-template #noMedia>
          <div class="img-fluid default-img-div">
            <img src="../../../assets/questionMarkBox.png" />
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="middle-section-ad">
    <svg width="125" height="100%" xmlns="http://www.w3.org/2000/svg">
      <rect width="100%" height="100%" fill="lightgray" />
      <text x="50%" y="50%" text-anchor="middle" fill="black" font-size="36" font-family="Arial" dy=".3em">Ad</text>
    </svg>    
  </div>
</section>

<section *ngIf="showHistEvents" class="section events-section">
  <ribbon [ribbonWidth]="'100%'" [ribbonTitle]="'This day in world history ' + lockedInMonthAndDay">
    <div class="event-holder">
      <div *ngFor="let histEvt of dispHistory" class="event-post-excerpt">
        <post-excerpt [postExcerpt]="histEvt.post" [useRibbonYear]="true" [ribbonYear]="histEvt.year"></post-excerpt>
      </div>
    </div>
  </ribbon>
</section>

<section *ngIf="showCelebs" class="section celebrity-section">
  <h3>Celebrities you share a birthday with {{lockedInMonthAndDay}}</h3>
  <div class="container-fluid">
    <div *ngFor="let card of cards; let j = index;">
      <div class="row" *ngIf="j % 3 === 0">
        <div class="col-md-4" *ngFor="let card of cards.slice(j, j + 3); let i = index;">
          <div class="box">
            <celeb-card
              [image]="card.image"
              [size]="'large'"
              [medalColor]="'gold'"
              [showSkills]="true"
              [celebPopularity]="card.celebPopularity"
              [celebInfo]="card.celebInfo"
            ></celeb-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="section other-section">
  <!-- Amazon Affiliate Banner Section -->  
  <div class="amazon-affiliate-banner">
    <ribbon [ribbonWidth]="'100%'" [ribbonTitle]="'Recommended Products'">
      <div class="affiliate-content">
        <p class="affiliate-intro">Products you might like based on your birthday:</p>
        <div class="affiliate-products">
          <!-- Replace these with your actual Amazon affiliate links and products -->
          <div class="affiliate-product">
            <a href="https://www.amazon.com/Nostalgia-BST3RR-Electric-Breakfast-Coffeemaker/dp/B07WFHZ8RM/?tag=backthennow-20" target="_blank" rel="nofollow sponsored">
              <img src="https://m.media-amazon.com/images/I/815zNapnfqL._AC_SL1500_.jpg" alt="Nostalgia 3-in-1 Breakfast Station Coffee Maker 4-Slice Toaster Oven">
              <h4>Nostalgia Gift Idea</h4>
              <p class="product-price">$79.99 (as of June 1 2025)</p>
            </a>
          </div>
          <div class="affiliate-product">
            <a href="https://www.amazon.com/Coolest-Perfect-Birthday-Christmas-Fathers/dp/B0DB1P6SW8/?tag=backthennow-20" target="_blank" rel="nofollow sponsored">
              <img src="https://m.media-amazon.com/images/I/71eFl-+5knL._AC_SL1500_.jpg" alt="World's Coolest Bonus Dad Candle, Unique Sentimental Father's Day & Birthday Gift">
              <h4>Special Occasion Item</h4>
              <p class="product-price">$14.99 (as of June 1, 2025)</p>
            </a>
          </div>
          <div class="affiliate-product">
            <a href="https://www.amazon.com/MaxAngel-Electronic-Auto-Rotate-Slideshow-Remotely/dp/B0C395VXJB/?tag=backthennow-20" target="_blank" rel="nofollow sponsored">
              <img src="https://m.media-amazon.com/images/I/7143MFXjuzL._AC_SL1500_.jpg" alt="Uhale Digital Picture Frame 32GB Storage ">
              <h4>Personalized Gift</h4>
              <p class="product-price">$49.99 (as of June 1 2025)</p>
            </a>
          </div>
        </div>
        <p class="affiliate-disclaimer">As an Amazon Associate I earn from qualifying purchases.</p>
      </div>
    </ribbon>
  </div>

  <div *ngIf="showSports">
    <ribbon [ribbonWidth]="'100%'" [ribbonTitle]="'🏈🏀⚾🏒 Professional Sports Outcomes 🏒⚾🏀🏈'">
      <div class="sports-wrapper">
        <div class="rectangle" *ngFor="let sport of sports">
          <div #sportCards class="sport-card card">
            <div class="arrow-right">
              <span *ngIf="sport.sport === 'nfl'">🏈</span>
              <span *ngIf="sport.sport === 'mlb'">⚾</span>
              <span *ngIf="sport.sport === 'nhl'">🏒</span>
              <span *ngIf="sport.sport === 'nba'">🏀</span>
            </div>
            <div class="title">
              <h1>{{sport.title}}</h1>
              <h5>{{sport.winner}}</h5>
              <div>------ over ------</div>
              <h5>{{sport.loser}}</h5>
            </div>
            <div class="sport-content">
              <div>Final Score: {{sport.score}}</div>
              <div *ngIf="sport.sport !== 'nfl'">Series: {{sport.series}}</div>
            </div>
          </div>
        </div>
      </div>
    </ribbon>
  </div>

  <div *ngIf="showPresident">
    <ribbon [ribbonWidth]="'100%'" [ribbonTitle]="presidentNumberOrdinal + ' President ' + birthdayDateStr">
      <div class="president-container">
        <div class="president-card full">
          <div class="president-content">
            <h1>{{currentPresident.name}}</h1>
            <p class="copy">President From {{currentPresident.startDate}} to {{currentPresident.endDate}}</p>
          </div>
          <div (click)="goToPresidentPage()" class="image">
            <img [src]="currentPresident.portraitURL" alt="President of the United State" />
          </div>
        </div>
      </div>
    </ribbon>
  </div>
</section>

<!-- Add this after the middle-section -->
<section *ngIf="showYearlySongs" class="section yearly-songs-section">
  <ribbon [ribbonWidth]="'100%'" [ribbonTitle]="'#1 Song every year on your birthday'">
    <div class="yearly-songs-header" (click)="toggleYearlySongsAccordion()">
      <h3>See the #1 song for each year on your birthday</h3>
      <div class="expand-arrow">
        <i class="fa-solid" [class]="!isYearlySongsExpanded ? 'fa-angle-down': 'fa-angle-up'"></i>
      </div>
    </div>
    
    <div class="yearly-songs-content" [class.expanded]="isYearlySongsExpanded">
      <div class="yearly-songs-scrollable">
        <div *ngFor="let song of yearlySongs" class="yearly-song-item">
          <div class="yearly-song-year">{{song.yearForDisplay}}</div>
          <div class="yearly-song-thumbnail">
            <a [href]="'https://www.youtube.com/watch?v=' + song.youtubeId" target="_blank">
              <img [src]="song.youtubeThumb" [alt]="song.songTitle" />
            </a>
          </div>
          <div class="yearly-song-details">
            <h4>{{song.songTitle}}</h4>
            <p>By: {{song.artist}}</p>
            <a class="youtube-link" [href]="'https://www.youtube.com/watch?v=' + song.youtubeId" target="_blank">
              <i class="fa-brands fa-youtube"></i> Watch on YouTube
            </a>
          </div>
        </div>
        <div *ngIf="yearlySongs.length === 0" class="no-songs-message">
          <p>No songs found for your birthday across different years.</p>
        </div>
      </div>
    </div>
  </ribbon>
</section>