@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Russo+One&display=swap');

#in-case-you-missed{
  display: block;

  h3{
    text-align: center;
  }
 
  .missed-articles{
    display: flex;
    margin-left: 40px;

    .missed-article-wrapper{
      margin: 10px;
      background-color: snow;
      padding: 10px;
      cursor: pointer;
      flex: 1;
      max-width: 300px;
      width: 100%;

      p{
        margin: 0;
        padding: 0;
      }

      .missed-header{
        text-align: center;
        font-weight: bold;
        font-family: 'Russo One', serif;
        margin-bottom: 5px;
      }

      .missed-pic{
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 150px;
        width: 175px;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width:625px) and (max-width:875px){
  #in-case-you-missed{
    display: block;

    .missed-articles{
      display: block;
      margin-left: 0px;

      .missed-article-wrapper{
        max-width: 500px;
        width: 100%;
        margin: 20px auto;
      }
    }
  }  
}


@media screen and (max-width:625px){
  #in-case-you-missed{
    display: block;

    .missed-articles{
      display: block;
      margin-left: 0px;

      .missed-article-wrapper{
        width: fit-content;
        max-width: unset;

        .missed-pic{
          background-size: contain;
        }
      }
    }
  }
}