@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#celebrityPageHeader{
  font-family: 'Russo One', 'Jura', sans-serif;

  .main-headline{
    font-size: 2.125rem;
    line-height: 100%;
    font-weight: 700;
    font-family: 'Russo One', sans-serif;
  }

  .updated{
    color: gray;
  }
}

.card-container {
	padding-top: 10px;
	max-width: 100%;
	text-align: center;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.secondary-card-container{
  display: flex;
}

.show-all{
  width: 100%;
  margin: 20px 0px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .expand-arrow{
    font-size: 24px;
    margin: 0px 20px;
  }

  .expand-button {
    font-size: 1.6em;
    text-align: center;
  }
}

.expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

#midSection{
  display: flex;

  .title-div{
    display: flex;
    font-size: 2.125rem;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -.0625em;
    font-family: Helvetica, Arial, sans-serif;
    align-items: baseline;

    .tomorrow-date, .yesterday-date{
      color: plum;
      margin-left: 20px;
    }
  }

  .leftSection{
    width: 70%;
    margin-right: 2rem;

    .ad-section{
      margin-top: 25px;
    }
  }

  .rightSection{
    width: 30%;
    margin-top: 0px;
  }
}

@media screen and (max-width: 875px) {
    #midSection{
      display: block;
      width: 100%;

      .leftSection{
        width: 100% !important;
      }
    
      .rightSection{
        width: 100% !important;
        margin-top: 20px;
      }
    }
}