/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100%;
}

.yesterYearFont {
  font-family: 'Yesteryear', cursive;
}
